@model CarrinhoCompraViewModel


<div class="Container">
    <div class="row checkoutForm">
        <div>
            <img src="~/img/Full-Cart-icon.png" width="30" height="35" />
            <h4>Seu carrinho de compras : </h4>
        </div>
       
        <table class="table table border table-striped">
            <thead>
                <tr>
                    <th>Quantidade</th>
                    <th>Lanche</th>
                    <th>Preço</th>
                    <th>Subtotal</th>
                
            </thead>
           <tbody>
                @foreach(var item in Model.CarrinhoCompra.CarrinhoCompraItens)
                {
                    <tr>
                        <td class="text-center">@item.Quantidade</td>
                        <td class="text-left">@item.Lanche.Nome</td>
                        <td class="text-rigth">@item.Lanche.Preco.ToString("c")</td>
                        <td class="text-rigth">@(
                        (item.Quantidade * item.Lanche.Preco).ToString("c")); 
                        </td>
                        <td class="text-center">
                            <a asp-controller="CarrinhoCompra" asp-action="RemoverItemDoCarrinho" 
                            asp-router-lancheId="@item.Lanche.LancheId"><img src="~/img/delete.png" /></a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <td colspan="3" class="text-rigth">Total:</td>
                <td class="text-right">@Model.CarrinhoCompraTotal.ToString("c")</td>
            </tfoot>

        </table>
        <div class="txet-right">
            <div class="btn-group">
                <a class="btn btn-success" asp-controller="Pedido" asp-action="Chekout">Encerrar Pedido</a>
                &nbsp;&nbsp;&nbsp;
                <a class="btn btn-primary" asp-controller="Lanche" asp-action="List">Continuar Comprando</a>               
            </div>

        </div>


    </div>
     
</div>